dtd/article.dtd

<!ELEMENT article (published, author, name, text, link, tag*)>
	<!ELEMENT published (#PCDATA)>
	<!ELEMENT author (#PCDATA)>
		<!ATTLIST author link #CDATA IMPLIED>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT text (par*, image*, heading*)>
		<!ELEMENT par (#PCDATA)>
		<!ELEMENT image EMPTY>
			<!ATTLIST image src #CDATA REQUIRED,
							alt #CDATA REQUIRED>
		<!ELEMENT heading (#PCDATA)>
	<!ELEMENT link (#PCDATA)>
	<!ELEMENT tag (#PCDATA)>
