dtd/blog.dtd

<!ELEMENT blog (article*)>
	<!ELEMENT article (time, h3, p, a)>
		<!ELEMENT time (#PCDATA)>
			<!ATTLIST time datetime CDATA #REQUIRED>
		<!ELEMENT h3 (#PCDATA)>
		<!ELEMENT p (#PCDATA)>
		<!ELEMENT a (#PCDATA)>
			<!ATTLIST a href CDATA #REQUIRED
						rel CDATA #IMPLIED
						target CDATA #IMPLIED>
